@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=PT+Sans&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f8f9fa;
    min-height: 100%;
}

h1 {
    color: #5db3b6;
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    font-weight: 100;
    margin: 1.5em 0 0;
    text-align: center;
}

img {
    margin-bottom: 25px;
}

label,
th,
input,
#addBtn {
    font-family: 'PT Sans', sans-serif;
    margin-top: 10px;
}

form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

input,
label {
    font-size: 15px;
    margin-right: 5px;
}

label,
th {
    font-weight: bold;
    letter-spacing: 1px;
}

label {
    color: #343A40;
}

table {
    margin: 2em 0;
    width: 100%;
}

thead {
    margin-bottom: 15px;
}

th {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px #9a9da0 dotted;
    color: #386b6d;
}

tbody:before {
    content: "@";
    display: block;
    line-height: 10px;
    text-indent: -99999px;
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 8px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    min-height: 80%;
}

.main {
    width: 55%;
}

.editStatusBtn,
.deleteBtn {
    background-color: #f8f9fa;
    border: none;
}

.editStatusBtn:hover,
.deleteBtn:hover,
#addBtn:hover {
    cursor: pointer;
}

.fa-trash-can {
    color: #e54b4b;
}

.fa-marker {
    color: #80a1d4;
}

.fa-solid {
    font-size: 15px;
}

.fa-trash-can:hover,
.fa-marker:hover,
#addBtn:hover {
    opacity: 0.7;
}


#addBtn {
    background-color: #ebf6f6;
    border-radius: 5px;
    border: 2px solid #71bdbf;
    color: #212529;
    font-size: 15px;
    padding: 5px 13px;
}